*{
padding:0;
margin:0;
}
body{
    font-family:'Poppins',sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.navbar-links{
    display:flex;
    column-gap: 20px;
    }


.navbar-links a{
text-decoration: none;
color: #1d232c;
}
 .navbar-link a:hover{
 cursor: pointer;
color: #1d232c;
text-decoration: underline;
}   
.navbar-menu-toggle{
    display: none;
}

.navbar-menu-toggle:hover{
   cursor: pointer;
}

.side-navbar{
background-color: #1d232c;
width: 50%;
height: 100%;
position:fixed;
top:0;
padding:30px;
color: white;
z-index: 100;
left: -62%;
}
.side-navbar-link{
    margin-top: 3px;
    margin-bottom: 30px;
}
.side-navbar a{
    text-decoration: none;
    color: white;
   
}
.side-navbar a:hover{
    text-decoration:underline;
}
.side-navbar-click-open{
    left:0%;
    transition: ease-in 0.5s;
}
.side-navbar-click-close{
    transition: ease-out 0.5s;
    left:-62%;
}
.header{
    display: flex;
    justify-content: center;
    gap:50px;
    padding: 50px;

}

.header-button{
    padding:10px 20px 10px 20px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;
    text-align: center;
}

.service{
    padding:20px;
}
.service-container-1{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.service-container-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding:10px;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    flex-wrap: wrap;
    
}

.new-arrival-container{
    position: relative;
   
    
}

.new-arrival-container img{
    border-radius: 2%;
    
     
 }
 

.overlay{
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0;
    opacity: 0.3;
 }

 .new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    border-radius: 10px;
    position: absolute;
    border: none;
    top: 50%;
    left: 18%;
    z-index:3;
    cursor: pointer;
 }

 .news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
 }

 .news input{
    padding:11px;
    width: 80vw;
    margin-bottom: 10px;
    border:solid black 3px;
    border-radius: 20px;
 }

 .news button{
   margin-top:10px;
   color:#f2f4f7;
   background-color: #1D232C;
   border-radius: 10px;
   padding:10px;
   cursor:pointer;
 }

 .footer{
    margin-top:20px;
    padding:40px;
    background-color: #1D232C;
    color: white;
 }

 .product-section{
    margin-top:20px;
 }

 .product-search{
    width:80%;
    border:solid black 2px;
    border-radius:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin:auto;
 }
#search{
    border:none;
    background-color: transparent;
    width:100%;

}
#search:focus{
    outline:none;

}
.products{
    padding:20px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content: space-around;
}

.products-box{
    text-align: center;
    flex-basis:20%;
}
.products-box img{
    border-radius: 10px;
}

.contact-section {
    display: flex;
    padding: 20px;
    background-color: #1D232C;
    border-radius: 10px;
    color: white;
}

.contact-form {
    width: 100%; 
    max-width: 600px;
    padding: 20px;
}

.inp, #message {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-sizing: border-box; 
}

.button {
    padding: 15px 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    color: white;
    margin-top: 20px;
}



@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display:block;
    }
    .navbar-links{
        display: none;
    }
.header-image{
    display:none;
}
.service-container-1{
    display:none;
}
.service-container-2{
    flex-direction:column;
}


}
